.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    .bg-color {
        background: linear-gradient(to right, #664c3b, #693a3a, #352028, #221515);
    }

    .bg-color2 {
        background-color: transparent;
    }


